*{
margin: 0;
padding: 0;
font: normal 14px/18px sans-serif;
}

h1{
  width: 100%;
  height: 40px;
  background-color: #666;
  color: #FFF;
  font: normal 18px/40px sans-serif;
  text-align: center;
  border-top: solid 1px #999;
  border-bottom: solid 1px #CCC;
}

#tests{
  width: 100%;
  background-color: #FFF;
  list-style: none;
}

.test{
  width: inherit;
  height: 32px;
  border-bottom: solid 1px #CCC;
  overflow: hidden;
}

.container{
  width: 100%;
  float: left;
  margin-right: -60px;
}

.description{
  position: relative;
  padding-left: 8px;
  line-height: 32px;
}

.status{
  width: 60px;
  float: right;
  text-align: center;
  line-height: 32px;
}

.status.ok{
  background-color: #00AA00;
  color: #FFF;
}

.status.failed{
  background-color: #AA0000;
  color: #FFF;
}

.log{
  background: #F0F0FF;
  width: 100%;
  border-bottom: solid 1px #CCC;
}

.text{
  padding: 8px;
  word-break: break-all;
}

#tests > li:last-child{
  border-bottom: none;
}
